<app-page-header></app-page-header>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav nav-tabs nav-style-5 mb-3">
  <li [ngbNavItem]="'categories'">
    <a ngbNavLink class="nav-link">Skill Categories</a>
    <ng-template ngbNavContent>
      <div class="card custom-card">
        <app-generic-table
          [columns]="categoryColumns"
          [data]="categories"
          [page]="catPage"
          [entries]="catEntries"
          [totalItems]="catTotal"
          [totalPages]="catTotalPages"
          [searchCriteria]="catSearch"
          [labels]="catLabels"
          [dropdownOptions]="catDropdownOptions"
          [showFilters]="true"
          [showPagination]="true"
          [showEmployeeFilter]="false"
          [showExportExcel]="false"
          [showAddButton]="true"
          [addButtonLabel]="'Add Category'"
          [expandable]="true"
          [expandTemplate]="categoryDetail"
          [onSearch]="onCatSearch"
          (pageChange)="onCatPageChange($event)"
          (entriesChange)="onCatEntriesChange($event)"
          (addClick)="openCategoryForm()">
        </app-generic-table>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="'skills'">
    <a ngbNavLink class="nav-link">Skills</a>
    <ng-template ngbNavContent>
      <div class="card custom-card">
        <app-generic-table
          [columns]="skillColumns"
          [data]="skills"
          [page]="skillPage"
          [entries]="skillEntries"
          [totalItems]="skillTotal"
          [totalPages]="skillTotalPages"
          [searchCriteria]="skillSearch"
          [labels]="skillLabels"
          [dropdownOptions]="skillDropdownOptions"
          [showFilters]="true"
          [showPagination]="true"
          [showEmployeeFilter]="false"
          [showExportExcel]="false"
          [showAddButton]="true"
          [addButtonLabel]="'Add Skill'"
          [expandable]="true"
          [expandTemplate]="skillDetail"
          [onSearch]="onSkillSearch"
          (pageChange)="onSkillPageChange($event)"
          (entriesChange)="onSkillEntriesChange($event)"
          (addClick)="openSkillForm()">
        </app-generic-table>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<ng-template #categoryDetail let-item>
  <app-admin-skill-category-detail-panel
    [categoryId]="item.id"
    (changed)="onCategoryChanged()" />
</ng-template>

<ng-template #skillDetail let-item>
  <app-admin-skill-detail-panel
    [skillId]="item.id"
    [categoryOptions]="categoryOptions"
    (changed)="onSkillChanged()" />
</ng-template>
