<app-page-header></app-page-header>

<div class="card custom-card">
  <app-generic-table
    [columns]="columns"
    [data]="data"
    [page]="page"
    [entries]="entries"
    [totalItems]="totalItems"
    [totalPages]="totalPages"
    [searchCriteria]="searchCriteria"
    [labels]="labels"
    [dropdownOptions]="dropdownOptions"
    [showFilters]="true"
    [showPagination]="true"
    [showEmployeeFilter]="false"
    [showExportExcel]="false"
    [showAddButton]="true"
    [addButtonLabel]="'Add member'"
    [onSearch]="onSearch"
    (addClick)="onAdd()"
    (pageChange)="onPageChange($event)"
    (entriesChange)="onEntriesChange($event)">
  </app-generic-table>
</div>
