<app-page-header></app-page-header>

<div class="card custom-card">
  <app-generic-table
    [columns]="columns"
    [data]="data"
    [page]="page"
    [entries]="entries"
    [totalItems]="totalItems"
    [totalPages]="totalPages"
    [searchCriteria]="searchCriteria"
    [labels]="labels"
    [dropdownOptions]="dropdownOptions"
    [showFilters]="true"
    [showPagination]="true"
    [showEmployeeFilter]="false"
    [showExportExcel]="false"
    [showAddButton]="true"
    [addButtonLabel]="'Add Portfolio'"
    [expandable]="true"
    [expandTemplate]="portfolioDetail"
    [onSearch]="onSearch"
    (pageChange)="onPageChange($event)"
    (entriesChange)="onEntriesChange($event)"
    (addClick)="openForm()">
  </app-generic-table>
</div>

<ng-template #portfolioDetail let-item>
  <app-admin-portfolio-detail-panel
    [portfolioId]="item.id"
    (changed)="onPortfolioChanged()" />
</ng-template>
