
    <div class="card features border text-center main-features {{cardClass}} wow fadeInUp reveal revealleft active h-100 w-100"
      [attr.title]="title + (description ? '\n' + description : '')" data-wow-delay="0.1s">
      <div class="card-body feature-card-body">
        <div class="counter-body-2">
          <div class="bg-img mb-2 text-left hexagon-wrapper">
            <div class="counter-icon hexagon">
              <i class="{{icon}} text-white"></i>
            </div>
          </div>
        </div>
        <div class="text-left counter-body feature-card-content">
          <h4 class="fw-bold feature-card-title">{{ title }}</h4>
          <p class="mb-0 feature-card-description">{{ description }}</p>
        </div>
      </div>
    </div>
  