@if (embedded) {
  <div class="change-password-embedded">
    <hr class="my-4" />
    <h6 class="fw-semibold mb-3">{{ 'ACCOUNT.CHANGE_PASSWORD' | translate }}</h6>
    <ng-container *ngTemplateOutlet="passwordForm"></ng-container>
  </div>
} @else {
  <div class="card custom-card">
    <div class="card-header">
      <h5 class="mb-0">{{ 'ACCOUNT.CHANGE_PASSWORD' | translate }}</h5>
    </div>
    <div class="card-body">
      <ng-container *ngTemplateOutlet="passwordForm"></ng-container>
    </div>
  </div>
}

<ng-template #passwordForm>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row g-3">
      <div class="col-12">
        <label class="form-label">{{ 'ACCOUNT.CURRENT_PASSWORD' | translate }}</label>
        <div class="input-group">
          <input
            [type]="showCurrent ? 'text' : 'password'"
            class="form-control"
            formControlName="currentPassword"
            autocomplete="current-password" />
          <button
            type="button"
            class="btn btn-light"
            (click)="showCurrent = !showCurrent"
            [attr.aria-label]="'Toggle password visibility'">
            <i class="fe" [class.fe-eye]="!showCurrent" [class.fe-eye-off]="showCurrent"></i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ 'ACCOUNT.NEW_PASSWORD' | translate }}</label>
        <div class="input-group">
          <input
            [type]="showNew ? 'text' : 'password'"
            class="form-control"
            formControlName="newPassword"
            autocomplete="new-password" />
          <button
            type="button"
            class="btn btn-light"
            (click)="showNew = !showNew"
            [attr.aria-label]="'Toggle password visibility'">
            <i class="fe" [class.fe-eye]="!showNew" [class.fe-eye-off]="showNew"></i>
          </button>
        </div>
        @if (form.controls['newPassword'].touched && form.controls['newPassword'].errors?.['minlength']) {
          <small class="text-danger">{{ 'ACCOUNT.PASSWORD_MIN_LENGTH' | translate }}</small>
        }
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ 'ACCOUNT.CONFIRM_PASSWORD' | translate }}</label>
        <div class="input-group">
          <input
            [type]="showConfirm ? 'text' : 'password'"
            class="form-control"
            formControlName="confirmPassword"
            autocomplete="new-password" />
          <button
            type="button"
            class="btn btn-light"
            (click)="showConfirm = !showConfirm"
            [attr.aria-label]="'Toggle password visibility'">
            <i class="fe" [class.fe-eye]="!showConfirm" [class.fe-eye-off]="showConfirm"></i>
          </button>
        </div>
        @if (form.touched && form.errors?.['passwordMismatch']) {
          <small class="text-danger">{{ 'FORM.PASSWORD_MISMATCH' | translate }}</small>
        }
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button type="submit" class="btn btn-primary px-4" [disabled]="saving">
        {{ saving ? ('ACCOUNT.SAVING' | translate) : ('ACCOUNT.UPDATE_PASSWORD' | translate) }}
      </button>
    </div>
  </form>
</ng-template>
