<div class="login-page gradient-bg d-flex align-items-center justify-content-center vh-100">

  <div class="login-card shadow-lg rounded-4 p-4 p-md-5 bg-body">

    <h3 class="fw-bold mb-4 text-center">
      {{ 'FORGOT_PASSWORD.TITLE' | translate }}
    </h3>

    

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="mb-3">
        <label class="form-label fw-semibold">
          {{ 'FORGOT_PASSWORD.EMAIL_ADDRESS' | translate }}
        </label>
        <input
          type="email"
          formControlName="email"
          class="form-control form-control-lg"
          placeholder="{{ 'FORGOT_PASSWORD.EMAIL_PLACEHOLDER' | translate }}"
        />
      </div>

      <button
        class="btn btn-primary btn-lg w-100 mt-2"
        [disabled]="form.invalid || authService.showLoader"
      >
        <span *ngIf="!authService.showLoader">
          {{ 'FORGOT_PASSWORD.SUBMIT' | translate }}
        </span>
        <span *ngIf="authService.showLoader" class="spinner-border spinner-border-sm"></span>
      </button>
      

    </form>

    <div class="text-center mt-4">
      <a routerLink="/auth/login" class="fw-semibold">
        {{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}
      </a>
    </div>

  </div>
</div>
