<app-page-header></app-page-header>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav nav-tabs nav-style-5 mb-3">
  <li [ngbNavItem]="'categories'">
    <a ngbNavLink class="nav-link">Service Categories</a>
    <ng-template ngbNavContent>
      <div class="card custom-card">
        <app-generic-table
          [columns]="categoryColumns"
          [data]="categories"
          [page]="catPage"
          [entries]="catEntries"
          [totalItems]="catTotal"
          [totalPages]="catTotalPages"
          [searchCriteria]="catSearch"
          [labels]="catLabels"
          [dropdownOptions]="catDropdownOptions"
          [showFilters]="true"
          [showPagination]="true"
          [showEmployeeFilter]="false"
          [showExportExcel]="false"
          [showAddButton]="true"
          [addButtonLabel]="'Add Category'"
          [expandable]="true"
          [expandTemplate]="categoryDetail"
          [onSearch]="onCatSearch"
          (pageChange)="onCatPageChange($event)"
          (entriesChange)="onCatEntriesChange($event)"
          (addClick)="openCategoryForm()">
        </app-generic-table>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="'services'">
    <a ngbNavLink class="nav-link">Services</a>
    <ng-template ngbNavContent>
      <div class="card custom-card">
        <app-generic-table
          [columns]="serviceColumns"
          [data]="services"
          [page]="svcPage"
          [entries]="svcEntries"
          [totalItems]="svcTotal"
          [totalPages]="svcTotalPages"
          [searchCriteria]="svcSearch"
          [labels]="svcLabels"
          [dropdownOptions]="svcDropdownOptions"
          [showFilters]="true"
          [showPagination]="true"
          [showEmployeeFilter]="false"
          [showExportExcel]="false"
          [showAddButton]="true"
          [addButtonLabel]="'Add Service'"
          [expandable]="true"
          [expandTemplate]="serviceDetail"
          [onSearch]="onSvcSearch"
          (pageChange)="onSvcPageChange($event)"
          (entriesChange)="onSvcEntriesChange($event)"
          (addClick)="openServiceForm()">
        </app-generic-table>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<ng-template #categoryDetail let-item>
  <app-admin-service-category-detail-panel
    [categoryId]="item.id"
    (changed)="onCategoryChanged()" />
</ng-template>

<ng-template #serviceDetail let-item>
  <app-admin-service-detail-panel
    [serviceId]="item.id"
    (changed)="onServiceChanged()" />
</ng-template>
